ClientAjouterArticle/ClientAjoutArticle/web/WEB-INF/wsdl/localhost_63526/Service1.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:import schemaLocation="http://localhost:63526/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InfosWCFService"/><xs:element name="AddArticle"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="art" nillable="true" type="q1:Article" xmlns:q1="http://schemas.datacontract.org/2004/07/InfosWCFService"/></xs:sequence></xs:complexType></xs:element><xs:element name="AddArticleResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="AddArticleResult" type="xs:boolean"/></xs:sequence></xs:complexType></xs:element><xs:element name="GetAllArticles"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="art" nillable="true" type="q2:Article" xmlns:q2="http://schemas.datacontract.org/2004/07/InfosWCFService"/></xs:sequence></xs:complexType></xs:element><xs:element name="GetAllArticlesResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="GetAllArticlesResult" nillable="true" type="q3:ArrayOfArticle" xmlns:q3="http://schemas.datacontract.org/2004/07/InfosWCFService"/></xs:sequence></xs:complexType></xs:element></xs:schema>